.root-card {
    display: flex;
    flex-direction: row;
    gap: 80px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    max-width: fit-content;
    padding: 50px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6), 0 4px 6px rgba(0, 0, 0, 0.4);
    border-radius: 10px; 
}

.content-card {
    display: flex;
    flex-direction: column;
}

.profile-card {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    max-width: fit-content;
}

@media (max-width: 600px) {
    .root-card {
        flex-direction: column;
        margin-top: 20px;
    }
    .content-card {
        font-size: 16px;
    }
}